<div *ngIf="choosingSolution" class="instruction">Player 1 can enter the solution secretly </div>
<br>

<div *ngIf="player2message" class="instruction">Player 2, it's your turn to play </div>
<br>


<!-- Display chosen pin color by user -->
<ng-container *ngIf="gameOn">
    <td *ngFor="let pin of combinationPlayer; let index = index;" 
          [ngStyle]="{ 'background-color': pin.color }"
          class="choice">
    </td> 
</ng-container>

<div *ngIf="!started && !choosingSolution" class="instruction">Choose a color to start a game</div>

<div *ngIf="displayInstruction && gameOn" class="instruction">Next round, choose your colors</div><br>

<!-- Display button to chose pin colors-->
<div *ngIf="gameOn">
    <button (click)="onColorClick(colors['green'])" class="button" [ngStyle]="{ 'background-color': colors['green'] }">{{colorChanged ? "1" : "green"}}</button> 
    <button (click)="onColorClick(colors['blue'])" class="button" [ngStyle]="{ 'background-color': colors['blue'] }">{{colorChanged ? "2" : "blue"}}</button> 
    <button (click)="onColorClick(colors['red'])" class="button" [ngStyle]="{ 'background-color': colors['red'] }" >{{colorChanged ? "3" : "red"}}</button> 
    <button (click)="onColorClick(colors['yellow'])" class="button" [ngStyle]="{ 'background-color': colors['yellow'] }">{{colorChanged ? "4" : "yellow"}}</button> 
    <button (click)="onColorClick(colors['brown'])" class="button" [ngStyle]="{ 'background-color': colors['brown'] }">{{colorChanged ? "5" : "brown"}}</button> 
    <button (click)="onColorClick(colors['purple'])" class="button" [ngStyle]="{ 'background-color': colors['purple'] }">{{colorChanged ? "6" : "purple"}}</button> 
    <button (click)="onColorClick(colors['pink'])" class="button" [ngStyle]="{ 'background-color': colors['pink'] }">{{colorChanged ? "7" : "pink"}}</button> <br>

    <button *ngIf="enterDisplayed" (click)="validation()" class="button grey">Enter</button>  

    <button *ngIf="displayValidationSolution" (click)="validationSolution()" class="button grey">Enter the solution</button>  
 
    <button *ngIf="resetDisplayed" (click)="reset()" class="button grey">Reset</button>  
</div>


<br>
<button *ngIf="!gameOn" (click)="start()" class="button grey">New game</button> 

<br><br><br>
<div *ngIf="!started && !choosingSolution" class="instruction">Custom the colors to find (optional)</div><br>

<!-- Display button to change colors if player want to  -->
<div *ngIf="!started && !choosingSolution">
    <input type="color" [(ngModel)]="colors['green']" (change)="onChange()">
    <input type="color" [(ngModel)]="colors['blue']" (change)="onChange()">
    <input type="color" [(ngModel)]="colors['red']" (change)="onChange()">
    <input type="color" [(ngModel)]="colors['yellow']" (change)="onChange()">
    <input type="color" [(ngModel)]="colors['brown']" (change)="onChange()">
    <input type="color" [(ngModel)]="colors['purple']" (change)="onChange()">
    <input type="color" [(ngModel)]="colors['pink']" (change)="onChange()">
</div>


<button *ngIf="started && gameOn" (click)="start()" class="button newGame">New game</button> 

