
<h3>Mastermind</h3>

<!-- Display message when user wins -->
<div *ngIf="playerWin">
    <p class="message">Félicitation, vous avez gagné en {{nbrOfTries}} coups! </p>
</div>


<!-- Display message when user lose -->
<div *ngIf="playerLose">
    <p class="message">Désolée, vous avez perdu... </p>
</div>

<!-- Display the configuration settings -->
<div>
    <app-configuration [displayConfiguration] = "displayConfiguration"
                       (nbPin)="changeNbrPins($event)"
                       (nbTries)="changeNbrTries($event)"
                       (multiplayer)="multiplayerOn($event)"
                       ></app-configuration>
<br>

<!-- Display all the old combinations -->
    <app-old-combination [oldCombination]= "oldCombination"></app-old-combination>

<!-- Display the solution -->
    <app-solution [solution] = "combinationSolution" 
                  [gameOn] = "gameOn" ></app-solution>
    
<!-- Dispay the player choice -->
    <app-player-choice (combinationPlayer)="validation($event)"
                       (configurationToDisplay)="configurationToDisplay($event)"
                       (solutionByPlayer)="validationSolution($event)"
                       (start)="start()"
                       (colors)="changeColors($event)"
                       [gameOn] = "gameOn"
                       [nbrOfPins]= "nbrOfPins" 
                       [choosingSolution]= "multiplayer"
                       [started]= "started"
                       
                      ></app-player-choice>
    
    

</div>

<br>









