


<!-- TODO vérifier les css pour virer superflus -->
<!-- TODO multijoeur -->
<!-- Changer pin status en colors (jaune-rouge et vert) pour n'afficher que  [ngStyle]="{ 'background-color': pin.color, 'border-color: pin.status'}" -->

<h3>Mastermind</h3>
<br>


<!-- Display message when user wins -->
<div *ngIf="playerWin">
    <p class="message">Félicitation, vous avez gagné en {{nbrOfTries}} coups! </p>
</div>


<!-- Display message when user lose -->
<div *ngIf="playerLose">
    <p class="message">Désolée, vous avez perdu... </p>
</div>


<div>
    <app-configuration [displayConfiguration] = "displayConfiguration"
                       (nbPin)="changeNbrPins($event)"
                       (nbTries)="changeNbrTries($event)"></app-configuration>
<br>
    <app-old-combination [oldCombination]= "oldCombination"></app-old-combination>

    <app-player-choice (combinationPlayer)="validation($event)"
                       (configurationToDisplay)="configurationToDisplay($event)"
                       [gameOn] = "gameOn"
                       [nbrOfPins]="nbrOfPins"></app-player-choice>
    
    <app-solution [solution] = "combinationSolution" 
                  [gameOn] = "gameOn" ></app-solution>
</div>

<br>




<div>
    <button *ngIf="!gameOn" (click)="start()" class="button buttonValid">New game</button>
</div>

